@use "../../styles/partials/resets.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.settings {
  display: flex;

  &__container {
    flex: 9;
    padding: 2rem;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__update-title {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    color: $logo-color;
    cursor: pointer;
  }

  &__delete-title {
    color: red;
    font-size: 12px;
    cursor: pointer;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__profile-picture {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  &__profile-picture > img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 1.25rem;
    object-fit: cover;
  }

  &__profile-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $logo-color;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
  }

  &__form > label {
    font-size: 1.25rem;
    margin-top: 1.25rem;
  }

  &__form > input {
    color: $grey;
    margin: 10px 0;
    height: 2rem;
    border: none;
    border-bottom: 1px solid $light-grey;
  }

  &__button {
    width: 9.5rem;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: $white;
    background-color: $logo-color;
    margin-top: 1.25rem;
    padding: 0.8rem;
    cursor: pointer;
  }
}
