.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &__title {
    color: gray;
    margin-top: 2rem;
  }

  &__text {
    font-size: 2rem;
    color: gray;
    margin: 2.5rem 9rem;
    align-self: center;
  }

  &__logo {
    color: lightcoral;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Lora", serif;
  }

  &__photo {
    height: 35rem;
  }
}
