@use "../partials/typography" as *;
@use "../partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next";
}

.link {
  text-decoration: none;
  color: inherit;
}
