@use "../../styles/partials/resets.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.post {
  width: 18rem;
  margin: 0rem 1.5rem 2rem 1.5rem;

  &__img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    border-radius: 7px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__category {
    color: rgb(170, 168, 168);
    line-height: 20px;
    margin-top: 1rem;
    margin-right: 0.7rem;
  }

  &__title {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
  }

  &__date {
    font-style: italic;
    color: rgb(170, 168, 168);
  }

  &__text {
    font-size: 1rem;
    color: #444;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
